
<title>Detail Page </title>
<div style="text-align: right; padding-top: 0px">
    <h4 style="color: yellowgreen">@Html.ActionLink("Exit", "Index", "Home")</h4>
</div>
<div style="text-align: center; padding-top: 30px">
    <h1 style="color: red">Detail Of Work</h1>
</div>
@using CommonLibrary;
<div style="margin-left: 200px; color: blueviolet">
    @{
        var doc = ViewData["DocumentDetail"] as document;

    }
    <h3>
        <li>
            Title: @doc.Title
        </li>
        <li>
            Text: @doc.Text
        </li>
        <li>
            Html: @doc.Html
        </li>
        <li>
            Link: @doc.Link
        </li>
    </h3>
</div>
<div style="text-align: center; padding-top: 30px">
    <h1 style="color: red">Suggest Job</h1>
</div>
<div style="text-align: center; color: blueviolet">
    @foreach (var docsg in (List<document>) ViewBag.DocumentSgList)
    {
        <li>
            <h4 style="color: blue"> @Html.ActionLink(@docsg.Title, "DocDetail", "Home", new {id = docsg.DocumentId}, null)</h4>
        </li>
    }
</div>
<div style="text-align: center; padding-top: 30px">
    <h1 style="color: red">Ads</h1>
</div>
<div style="text-align: center; color: blueviolet">
    @foreach (var ads in (List<ad>)ViewBag.AdsList)
    {
        <li>
            <h4 style="color: blue">@ads.Title  - @ads.Description - @ads.Keyword</h4>
        </li>
    }
</div>



